@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  margin: 1.5rem 0;
}

.show {
  display: block !important;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 0.8rem 1.6rem;
  display: inline-block;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #ccc;
  color: #000;
}

.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.navbar li {
  padding: 1.4rem 2.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar li:hover {
  background-color: #ccc;
}
.navbar li:hover a {
  color: #000;
}
.navbar li a {
  color: #fff;
}

.mobile-nav {
  display: none;
}
@media screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__drop {
  display: none;
}

.header__search {
  font-size: 1.6rem;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__search:hover {
  background-color: #f44336;
}
.header__search i {
  font-size: 1.4rem;
}

.navbar-drop {
  position: relative;
  transition: all 0.3s ease;
}
.navbar-drop:hover .subnav {
  display: block;
}
.navbar-drop i {
  font-size: 1.3rem;
  margin-left: 0.4rem;
}

.subnav {
  background-color: #fff;
  transition: all 0.5s ease;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  transition: all 0.3s ease;
}

.banner {
  background: url(./img/la.jpg) no-repeat center/cover;
  height: 110vh;
  position: relative;
}

.banner__content {
  position: absolute;
  left: 50%;
  bottom: -3%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.banner__title {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.banner__description {
  font-size: 1.6rem;
}

.content-section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 6.4rem 1.6rem;
}

.section-heading {
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.4rem;
  margin: 1rem 0;
}

.section-sub-heading {
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  opacity: 0.6;
  margin: 1.5rem 0;
}

.about-text {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 1.5rem 0;
}

.member-list {
  padding: 3.2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.member-items {
  flex-basis: 33.3333%;
}
.member-items .member-name {
  font-size: 1.6rem;
}

.member-img {
  width: 60%;
  object-fit: cover;
  border: none;
  border-radius: 0.6rem;
}

.tour {
  background-color: #000;
  color: #fff;
}

.ticket-list {
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  margin-top: 3.2rem;
}
.ticket-list li {
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 1.6rem;
  color: #757575;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 1.6rem;
  padding: 0 0.8rem;
  line-height: 1.5;
}
.ticket-list .quantity {
  background-color: #000;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 50%;
  line-height: 1;
  float: right;
  margin-right: 1.6rem;
}

.place-list {
  margin: 3.2rem 0;
  padding-bottom: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}

.place-item {
  flex-basis: 33.3333%;
}
.place-item img {
  width: 100%;
}

.place-body {
  background-color: #fff;
  color: #000;
  padding: 1.6rem 1.6rem 2rem 1.6rem;
  font-size: 1.6rem;
}

.place-heading {
  font-weight: 600;
}

.place-time {
  opacity: 0.6;
}

.contact-content {
  margin: 3.2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.8rem;
}

.contact-info {
  flex-basis: 50%;
}
.contact-info p {
  margin: 0;
  padding-bottom: 1rem;
}
.contact-info i {
  margin-right: 1.2rem;
}

.contact-form {
  flex-basis: 50%;
  overflow: hidden;
}
.contact-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}
.contact-form button {
  border: none;
  float: right;
  margin-top: 1rem;
  cursor: pointer;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}

.map-section img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  font-size: 1.6rem;
}

.footer__social {
  opacity: 0.7;
}
.footer__social a {
  font-size: 2.4rem;
  margin: 0 0.2rem;
  color: #000;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.footer__social a:hover {
  opacity: 0.3;
}

.copyright {
  font-size: 1.5rem;
}
.copyright a {
  font-size: 1.5rem;
  opacity: 1;
  text-decoration: underline;
  color: #000;
}

@media screen and (max-width: 600px) {
  .header {
    display: block;
  }

  .navbar,
.subnav,
.header__search {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav li {
    padding: 1.4625rem 2.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .mobile-nav li:hover {
    background-color: #ccc;
    color: #000;
  }

  .banner {
    height: 41.5vh;
  }
  .banner .banner__content {
    display: none;
  }

  .about-text {
    font-size: 1.5rem;
  }

  .member-list {
    gap: 1.6rem;
  }

  .member-items {
    flex-basis: 100%;
  }

  .place-list {
    flex-wrap: wrap;
  }

  .place-item {
    flex-basis: 100%;
    padding-bottom: 1.6rem;
  }

  .contact-content {
    display: block;
    font-size: 1.8rem;
  }

  .contact-details {
    display: block;
  }

  .mobile-nav__drop {
    background-color: #000;
    display: none;
  }
  .mobile-nav__drop li {
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .mobile-nav__drop li:hover {
    background-color: #ccc;
    color: #000;
  }

  .ticket-list {
    margin: 0;
  }

  .contact-form {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .mobile-nav {
    display: none !important;
  }

  .mobile-nav__drop {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
